<h2 style="color:blue">Importing Libraries</h2>

In [1]:
import pandas as pd

<h2 style="color:blue">Loading Datast</h2>

In [2]:
data = pd.read_csv("student.csv")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

<h2 style="color:blue">Exploring Dataset</h2>

In [3]:
print(data)

     Name  IQ  TimeSpent  Performance
0    Ramu   7          5           65
1  Ganesh   6          7           60
2  Kamesh   5          7           55
3  Rakesh   8          8           75
4   Subbu   8          4           70
5  Chinni   6          5           72
6     Nag   8          6           80
7     uma   6          6           65
8   srinu   6          7           65
9  Laxman   6          9           60

In [4]:
print(f"Shape of dataset: {data.shape}")

Shape of dataset: (10, 4)

In [5]:
print(f"Number of samples: {data.shape[0]}")
print(f"Number of fetures: {data.shape[1]}")

Number of samples: 10
Number of fetures: 4

<h2 style="color:blue">Seperating the input and output features</h2>

In [6]:
X = data.drop("Performance", axis = 1)
y = data["Performance"]

In [7]:
print(f"Shape of input dataset: {X.shape}")
print(f"Shape of output dataset: {y.shape}")

Shape of input dataset: (10, 3)
Shape of output dataset: (10,)